.btn-primary{
    font-size: .8rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
    padding: 10px;
}

.btn-primary:hover{
    background-color: #00008B;
    transition: .5s;
}
