body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 10% 0 10%;
}

main{
    margin-top: 20vh;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 10%;
        text-align: center;
    }
    
    .logo {
        margin: 0;
        padding: 0;
        width: 40%;
    }

    .imagem-logo{
        position: relative;
        left: 75%;
        width: 100%;
    }
    
}

@media screen and (min-width: 600px) {
    .container{
        display: flex;
        text-align: center;
    }
    .titulo{
        margin: 10%;
    }
    .logo {
        width: 70%;
        text-align: center;
    }

    .imagem-logo{
        position: relative;
        top: 25%;
        left: 25%;
        width: 100%;
        max-width: 200px;
    }
}

h1{
    font-size: 1.5em;    
}

h2{
    font-size: 1em;
}

p{
    margin-bottom: 30px;;
}

.btn-pesquisa{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
    padding: 15px;
}