.container{
    margin: 0 10% 0 10%;
}

main{
    margin-top: 20vh;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 10%;
        text-align: center;
    }
    
    .logo {
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .imagem-logo{
        width: 110px;
    }
    
}

@media screen and (min-width: 600px) {
    .container{
        display: flex;
        text-align: center;
    }
    .titulo{
        margin: 10%;
    }
    .logo {
        width: 400px;
        text-align: center;
    }

    .imagem-logo{
        position: relative;
        top: 25%;
        left: 25%;
        width: 100%;
        max-width: 200px;
    }
}

h1{
    font-size: 1.5em;    
}

h2{
    font-size: 1em;
}

p{
    margin-bottom: 30px;;
}
