body{
    background-image: url('../img/background.jpg');
    background-size: cover;
}

.container{
    background-color: #ffffff;
    margin: 0px 50px;
    padding: 50px 10px 50px 10px;
}

main{
    margin-top: 20vh;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 10%;
        text-align: center;
    }
    
    .logo {
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .imagem-logo{
        width: 110px;
    }
    
}

@media screen and (min-width: 600px) {
    .container{
        display: flex;
        text-align: center;
    }
    .titulo{
        margin: 10px;
    }
    .logo {
        width: 400px;
        text-align: center;
    }

    .imagem-logo{

        width: 100%;
        max-width: 200px;
    }
}

h1{
    margin: 10px;
    font-size: 1.5em;    
}

h2{
    font-size: 1em;
    margin: 10px;
}

p{
    margin-bottom: 30px;;
}
