.container{
    text-align: center;
    background-color: #ffffff;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .logo {
        margin: 0;
        padding: 0;
        width: 40%;
    }
}

#resultado-pesquisa{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.card{
    margin: 10px;
}

.principal{
    padding-top: 20px;
    margin-top: 5%;
}