.perfil {
    height: 900px;
    margin-left: 20px;
    margin-top: 100px;
    border-right: 1px solid grey;
    display: block;
}

.anuncios {
    height: 700px;
    margin-top: 40px;
    display: flexbox;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}

img {
    width: 160px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}

.card{
    margin: 10px;
    width: 15rem;
    border: 1px ridge #04AA6D;
}

.card:hover{
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.90);
}