.container{
    text-align: center;
}

.imagem-moca{
    position: relative;
    max-width: 320px;
    width: 100%;
}

.conteudo-sobre{
    margin: 20px;
}

.conteudo-sobre p{
    margin-top: 20px;
}

@media screen and (min-width: 601px){
    .conteudo-sobre{
        margin: 0 10%;
        padding-bottom: 100px;
    }
}
